<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <!-- font awesome -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!-- Compiled and minified CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="./CSS/style.css">
  <title>The Blank Patch</title>
</head>
<body>

  <!-- navbar -->
  <header>
    <nav class="nav-wrapper transparent">
      <div class="container">
        <a href="/" class="brand-logo flow-text">The ______ Patch</a>
        <a href="#" class="sidenav-trigger" data-target="mobile-menu">
          <i class="material-icons">menu</i>
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="shopping">Our Shop</a></li>
          <li><a href="cart">Your Cart</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#contact">Contact</a></li>
           {{#if loggedIn}}
          <li><a id="logout">Logout</a></li>
          {{else}}
          <li><a href="login">Login</a></li>
          {{/if}}
          <li><a href="#" class="tooltipped btn-floating btn-small" data-position="bottom" data-tooltip="Instagram"> 
            <i class="fab fa-instagram"></i>
          </a></li>
          <li><a href="#" class="tooltipped btn-floating btn-small" data-position="bottom" data-tooltip="Facebook">
            <i class="fab fa-facebook"></i>
          </a></li>
          <li><a href="#" class="tooltipped btn-floating btn-small" data-position="bottom" data-tooltip="Twitter">
            <i class="fab fa-twitter"></i>
          </a></li>
        </ul>
        <ul class="sidenav" id="mobile-menu">
          <li><a href="shopping">Our Shop</a></li>
          <li><a href="cart">Your Cart</a></li>
          <li><a href="#about">About Us</a></li>
          <li><a href="#contact">Contact</a></li>
           {{#if loggedIn}}
          <li><a id="logout-mobile">Logout</a></li>
          {{else}}
          <li><a href="login">Login</a></li>
          {{/if}}
        </ul>
      </div>
    </nav>
  </header>

<div>
  {{{body}}}
</div>


  <!-- contact form -->
  <section class="section container scrollspy" id="contact">
    <div class="row">
      <div class="col s11 l5">
        <h2>Get in Touch</h2>
        <p class="flow-text">Have more questions? Feel free to send us a message, and one of our healers will contact you shortly.</p>
      </div>
      <div class="col s11 l5 offset-l2">
        <form>
          <div class="input-field">
            <i class="material-icons prefix">email</i>
            <input type="email" id="email">
            <label for="email">Your Email</label>
          </div>
          <div class="input-field">
            <i class="material-icons prefix">message</i>
            <textarea id="message" class="materialize-textarea" cols="20" rows="20"></textarea>
            <label for="message">Your Message</label>
          </div>
          <div class="input-field center">
            <button class="btn">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </section>

  <!-- footer -->
  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5>About Us</h5>
          <p class="flow-text">Many spiritual advisers, energy practitioners, and others who work with aural health believe that the physical body is closely connected to the emotional and spiritual bodies.</p>
          <p>The aura is seen as just one representation of this connection.</p>
          <p>Understanding and being aware of your own aura can take time. But the practice of focusing on your own spiritual and emotional health may go a long way to helping your overall health, no matter the outcome of any attempt to overhaul or revitalize your aural health.</p>
          <p>Positive thoughts can bring energy, healing, and great self-appreciation.</p>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5>Connect</h5>
          <ul>
            <li><a href="#" target="_blank" class="link">Facebook</a></li>
            <li><a href="#" target="_blank" class="link">Twitter</a></li>
            <li><a href="#" target="_blank" class="link">Instagram</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="copyright container center-align">&copy; 2021 The Blank Patch</div>
    </div>
  </footer>

  <!-- Compiled and minified JavaScript -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
  <script>
    $(document).ready(function(){

      $('.sidenav').sidenav();
      $('.materialboxed').materialbox();
      $('.tabs').tabs();
      $('.tooltipped').tooltip();
      $('.scrollspy').scrollSpy();

    });
  </script>
  <script src="./js/logout.js"></script>
</body>
</html>