<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Homepage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    {{!-- Imported frrom stack -> materialize code --}}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    {{!-- Internal files --}}
    <script charset="utf-8" src="js/app.js"></script>
    <link rel="stylesheet" href="css/app.css" />
  </head>

  <body>
    <h1>Main Homepage</h1>
    <a class="waves-effect waves-light btn">button</a>

    {{!-- <p>
     About: Sick and tired of the same old feelings? Try our new and improved feelings update! Your life will be a literal rollercoaster!
    </p> --}}
    {{body}}
    <!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="js/materialize.min.js"></script>
  </body>
</html>