{{#if loggedIn}}
<!--discount bar-->
<div  class="container">
<div  class="row"> 
<div  class= "col l4 m4 s12 hoverable">
<div  class="card">
<div  class="card-content white-text">
<span  class="card-title red-text accent-3">20% Cashback</span>
<p  class="black-text">Shop Using Gift Cards Get 20% Cashback</p>
</div>
<div  class="card-action">
<a  href="#"  class="red-text accent-3">Shop Now <i  class="ion-android-arrow-forward"></i></a>
</div>
</div>
</div>
</div>
</div>

<body>
<div class="container">

<h1>Shopping Cart</h1>

<!--item-->
<div class="col s12 m7">
    <h2 class="header">Red</h2>
    <div class="card horizontal">
      <div class="card-image">
        {{#with image}}
        <img src="img/{{image.[0].filename}}">
        {{/with}}
      </div>
      <div class="card-stacked">
        <div class="card-content">
          <p>Is said to reflect from your root or physical layer. It may be sensed, perhaps even visible between your tailbone and pelvic bone.</p>
          <a class='dropdown-trigger btn' href='#' data-target='dropdown1'>Quantity</a>

  <!-- Dropdown Structure -->
  <ul id='dropdown1' class='dropdown-content'>
    <li><a href="#!">1</a></li>
    <li><a href="#!">2</a></li>
    <li><a href="#!">3</a></li>
    <li><a href="#!">4</a></li>
    <li><a href="#!">5</a></li>
  </ul>
        </div>
        <div class="clearfix">
            <div class="price left">$14.99</div>
        <div class="card-action right">
          <a href="#"> <i class="material-icons right">remove_shopping_cart</i> Remove from cart</a>
        </div>
      </div>
    </div>
  </div>

<!--total-->
  <div class="totals">
    <div class="totals-item">
      <label>Subtotal</label>
      <div class="totals-value" id="cart-subtotal">29.98</div>
    </div>
    <div class="totals-item">
      <label>Tax (2%)</label>
      <div class="totals-value" id="cart-tax">2.47</div>
    </div>
    <div class="totals-item">
      <label>Shipping</label>
      <div class="totals-value" id="cart-shipping">7.99</div>
    </div>
    <div class="totals-item totals-item-total">
      <label>Grand Total</label>
      <div class="totals-value" id="cart-total">40.44</div>
    </div>
  </div>
      
      <button class="checkout">Checkout</button>

  </div>
  </div>
  </div>
  </div>
{{/if}}
