{{#if loggedIn}}
<!--discount bar-->
<body>

<h1 class="cart-title">Shopping Cart</h1>

<!--item-->
    <div class="container-products">
        <div class="product-header">
            <h5 class="product-title">PRODUCT</h5>
            <h5 class="price-title sm-hide">PRICE</h5>
            <h5 class="quantity-title">QUANTITY</h5>
            <h5 class="total-title">TOTAL</h5>
        </div>
        <div class="products">

        </div>
    </div>
  <script src="./cart.js"></script>
{{/if}}
