<!-- hero banner -->
  <div class="hero-image col s12 l4">
      <img src="img/color_aura.png" alt="" class="responsive-img">
  </div>

  <!-- services / tabs -->
  <section class="section container scrollspy" id="services">
    <div class="row">
      <div class="col s12 l4">
        <h2>What does the color placement mean?</h2>
        <p>Each layer of your aura is said to correspond to a different chakra.</p>
        <p class="flow-text">Chakras are different realms of energy within your body. Some layers or chakras may be more dominate. Others may be less visible, and less easily sensed.</p>
      </div>
      <div class="col s11 l6 offset-l1">
        <!-- tabs -->
        <ul class="tabs">
          <li class="tab col s2">
            <a href="#red" class="active red lighten-2">RED</a>
          </li>
          <li class="tab col s2">
            <a href="#orange" class="orange lighten-2">ORANGE</a>
          </li>
          <li class="tab col s2">
            <a href="#yellow" class="yellow lighten-2">YELLOW</a>
          </li>
          <li class="tab col s2">
            <a href="#green" class="green lighten-2">GREEN</a>
          </li>
          <li class="tab col s2">
            <a href="#blue" class="blue lighten-2">BLUE</a>
          </li>
          <li class="tab col s2">
            <a href="#violet" class="indigo lighten-2">VIOLET</a>
          </li>
          
        </ul>
          <div id="red" class="col s12">
              <p class="flow-text">Red</p>
              <p>is said to reflect from your root or physical layer. It may be sensed, perhaps even visible between your tailbone and pelvic bone.</p>
          </div>
          <div id="orange" class="col s12">
              <p class="flow-text">Orange</p>
              <p>is said to reflect from your sacral layer. It may be sensed below your naval.</p>
          </div>
          <div id="yellow" class="col s12">
            <p class="flow-text">Yellow</p>
            <p>is said to reflect from your emotional layer. It may be sensed around your solar plexus, or the area below your ribcage and around the center of your stomach.</p>
        
        <div id="green" class="col s12">
          <p class="flow-text">Green</p>
          <p>is said to reflect from the astral layer, or the heart chakra. It may be sensed in or around your chest.</p>
        </div>
        <div id="blue" class="col s12">
          <p class="flow-text">Blue</p>
          <p>is said to reflect from the spiritual layer, or the throat chakra. It may be sensed at the base of your throat.</p>
        </div>
        <div id="indigo" class="col s12">
          <p class="flow-text">Indigo</p>
          <p>or deep purple is said to reflect from the intuitional layer, or the third eye. It may be sensed at the center of your forehead.</p>
        </div>
      </div>
    </div>
  </section>