{{!-- if/else statement week 14 mini project middlewear activities in main "handlebars--}}

<div class="signup-box">
        <h1>Hello!</h1>
        <h4>We would love to show you all the amazing things our site has to offer!</h4>
        <h4>We just ask for a few minutes of your time to sign up, or log in</h4>
        <h4>to fully access our research and our amazing shop.</h4>
        <h1>Sign Up</h1>
        <form>
            <label>Frist Name</label>
            <input type="text" placeholder="">
            <label>Last Name</label>
            <input type="text" placeholder="">
            <label>Email</label>
            <input type="email" placeholder="">
            <label>Password</label>
            <input type="password" placeholder="">
            <label>Confirm Password</label>
            <input type="password" placeholder="">
            <input type="button" value="Submit">
        </form>
        <p>By clicking the Sign Up button, you agree to our <br>
        <a href="#">Terms and Conditions</a> and <a href="#">Policy Privacy</a>
        </p>
        <h4>Already have an account?</h4>
        <h1>Login</h1>
        <form>
            <label>Email</label>
            <input type="email" placeholder="">
            <label>Password</label>
            <input type="password" placeholder="">
            <input type="button" value="Submit">
        </form>  
    </div>