 <div class="container">
       
    <!-- RED -->
    <div class="row">
         <div class="col s4">
            <div class="card">
            <div class="card-image">
           <img src="img/red.gif" alt="" class="img-responsive">
            <span class="card-title">Red</span>
            </div>
            <div class="card-content">
            <p class="description">Is said to reflect from your root or physical layer. It may be sensed, perhaps even visible between your tailbone and pelvic bone.</p>
            </div>
            <div class="clearfix">
            <div class="price left">$14.99</div>
            <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small right"><i class="material-icons left">add_shopping_cart</i>Add to cart</a>
        </div>
        </div>
      </div>
         </div>

      <!--Orange-->
       <div class="col s4">
            <div class="card">
            <div class="card-image">
           <img src="img/orange.gif" alt="" class="img-responsive">
            <span class="card-title">Orange</span>
            </div>
            <div class="card-content">
            <p class="description">Is said to reflect from your sacral layer. It may be sensed below your naval.</p>
            </div>
            <div class="clearfix">
            <div class="price left">$14.99</div>
            <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small right"><i class="material-icons left">add_shopping_cart</i>Add to cart</a>
        </div>
        </div>
      </div>
         </div>

      <!--yellow-->
       <div class="col s4">
            <div class="card">
            <div class="card-image">
           <img src="img/yellow.gif" alt="" class="img-responsive">
            <span class="card-title">Yellow</span>
            </div>
            <div class="card-content">
            <p class="description">Is said to reflect from your emotional layer. It may be sensed around your solar plexus, or the area below your ribcage and around the center of your stomach.</p>
            </div>
            <div class="clearfix">
            <div class="price left">$14.99</div>
            <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small right"><i class="material-icons left">add_shopping_cart</i>Add to cart</a>
        </div>
        </div>
      </div>
         </div>
    </div>

    <!--green-->
  <div class="row">
     <div class="col s4">
            <div class="card">
            <div class="card-image">
           <img src="img/green.gif" alt="" class="img-responsive">
            <span class="card-title">Green</span>
            </div>
            <div class="card-content">
            <p class="description">Is said to reflect from the astral layer, or the heart chakra. It may be sensed in or around your chest.</p>
            </div>
            <div class="clearfix">
            <div class="price left">$14.99</div>
            <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small right"><i class="material-icons left">add_shopping_cart</i>Add to cart</a>
        </div>
        </div>
      </div>
         </div>

      <!--blue-->
       <div class="col s4">
            <div class="card">
            <div class="card-image">
           <img src="img/blue.gif" alt="" class="img-responsive">
            <span class="card-title">Blue</span>
            </div>
            <div class="card-content">
            <p class="description">is said to reflect from the spiritual layer, or the throat chakra. It may be sensed at the base of your throat.</p>
            </div>
            <div class="clearfix">
            <div class="price left">$14.99</div>
            <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small right"><i class="material-icons left">add_shopping_cart</i>Add to cart</a>
        </div>
        </div>
      </div>
         </div>

      <!--violet-->
       <div class="col s4">
            <div class="card">
            <div class="card-image">
           <img src="img/violet.gif" alt="" class="img-responsive">
            <span class="card-title">Violet</span>
            </div>
            <div class="card-content">
            <p class="description">Is said to reflect from the intuitional layer, or the third eye. It may be sensed at the center of your forehead.</p>
            </div>
            <div class="clearfix">
            <div class="price left">$14.99</div>
            <div class="card-action">
          <a href="#" class="waves-effect waves-light btn-small right"><i class="material-icons left">add_shopping_cart</i>Add to cart</a>
        </div>
        </div>
      </div>
         </div>

    </div>
  </div>

</div>
</div>