header{
    background: url(../img/rnbw_wtclr.png);
    background-size: cover;
    background-position: center;
    color: #141414 !important;
  }
li>a{
    color: #141414 !important;
}

a.brand-logo{
    font-size: 18px !important;
    color: #141414;
}
.sidenav-trigger{
    color: #141414;
}
.sidenav{
    background: url(../img/rnbw_wtclr.png);
    background-size: cover;
}
.hero-image{
    display:flex;
    justify-content: center;
    padding-top: 6%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 6%;
}
.scrollspy{
    padding-right: 12px !important;
}    

body{
    background-image: url(../img/white-textured-background.jpeg);
    background-size: cover;
    background-position: center;
}
h2{
    color: #141414 !important;
    font-size: 2.5rem;
}
a:link{
    color: #141414 !important;
}

p{
    font-size: .95rem !important;
    /* margin: auto !important;
    padding: auto !important; */
}
.tabs.indicator{
    /* padding-top: 3% !important; */
    color: #141414 !important;
    font-size: .75rem !important;
}
footer{
    background-image: url(../img/rnbw_wtclr.png);
    background-size: cover;
    background-position: center;
    color: #141414 !important;
}
.link{
    color: #141414 !important; 
}
.copyright{
    color: #141414 !important;
}

@media screen and (min-width: 601px) {
    div.example {
        font-size: 80px;
    }
}

/*shopping page*/
.card img {
    max-height: 150px;
}

.card .description {
    color:#7f7f7f

}

.price {
    font-weight: bold;
    font-size: 16px;
}

.clearfix:before,
.clearfix:after {
 content: "";
 display: table;
 }

.clearfix:after {
 clear: both;
 }

.clearfix {
 zoom: 1; /* ie 6/7 */
}

/*cart*/

/* Apply dollar signs */
.product .product-price:before, .product .product-line-price:before, .totals-value:before {
  content: '$';
}



/* Product entries */
.product {
  margin-bottom: 20px;
  padding-bottom: 10px;}
  
.product-image {
    text-align: center;
    width: 100px;
    }
  
.product-details {
      margin-right: 20px;
    }
    .product-description {
      margin: 5px 20px 5px 0;
      line-height: 1.4em;
    }
  
  .product-quantity {
      width: 40px;
     }
  
  .remove-product {
    border: 0;
    padding: 4px 8px;
    background-color: rgb(48, 212, 185);
    color: #fff;
    font-size: 12px;
    border-radius: 3px;
  }
  
  .remove-product:hover {
    background-color: #42b99f
}


/* Totals section */
  .totals-item {
    float: right;
    clear: both;
    width: 100%;
    margin-bottom: 10px;}
    
    .label {
      float: left;
      clear: both;
      width: 79%;
      text-align: right;
    }
    
    .totals-value {
      float: right;
      width: 21%;
      text-align: right;
    }



.checkout {
  float: right;
  border: 0;
  margin-top: 20px;
  padding: 6px 25px;
  background-color: #6b6;
  color: #fff;
  font-size: 25px;
  border-radius: 3px;
}

.checkout:hover {
  background-color: #494;
}

/* Adjustments for phone */
@media screen and (max-width: 350px) {
  
  .product-removal {
    float: right;
  }
  
  .product-line-price {
    float: right;
    clear: left;
    width: auto;
    margin-top: 10px;
  }
  
  .product .product-line-price:before {
    content: 'Item Total: $';
  }
  
  .totals {
    width: 60%;
      }
      
      .totals-value {
        width: 40%;
      }
    }