header{
    background: url(../img/rnbw_wtclr.png);
    background-size: cover;
    background-position: center;
    color: #141414 !important;
  }
li>a{
    color: #141414 !important;
}

a.brand-logo{
    font-size: 18px !important;
    color: #141414;
}
.sidenav-trigger{
    color: #141414;
}
.sidenav{
    background: url(../img/rnbw_wtclr.png);
    background-size: cover;
}
.hero-image{
    display:flex;
    justify-content: center;
    padding-top: 6%;
    padding-left: 4%;
    padding-right: 4%;
    padding-bottom: 6%;
}
.scrollspy{
    padding-right: 12px !important;
}    

body{
    background-image: url(../img/white-textured-background.jpeg);
    background-size: cover;
    background-position: center;
}
h2{
    color: #141414 !important;
    font-size: 2.5rem;
}
a:link{
    color: #141414 !important;
}

p{
    font-size: .95rem !important;
    /* margin: auto !important;
    padding: auto !important; */
}
.tabs.indicator{
    /* padding-top: 3% !important; */
    color: #141414 !important;
    font-size: .75rem !important;
}
footer{
    background-image: url(../img/rnbw_wtclr.png);
    background-size: cover;
    background-position: center;
    color: #141414 !important;
}
.link{
    color: #141414 !important; 
}
.copyright{
    color: #141414 !important;
}

@media screen and (min-width: 601px) {
    div.example {
        font-size: 80px;
    }
}