header{
    background: url(/public/img/rnbw_wtclr.png);
    background-size: cover;
    background-position: center;
  }
    /* @media screen and (max-width: 670px){
    header{
    min-height: 500px;
    }
} */
.section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
/* .tabs .indicator{
    background-color: #1a237e;
} */
/* .tabs .tab a:focus, .tabs .tab a:focus.active{
    background: transparent;
} */
a.brand-logo{
    font-size: 1.5rem !important;
    color: #141414;
}
.sidenav-trigger{
    color: #141414;
}
.sidenav{
    background: url(/public/img/rnbw_wtclr.png);
    background-size: cover;
}
.hero-image{
    display:flex;
    justify-content: center;
    padding-top: 3%;
}
.scrollspy{
    padding-right: 12px !important;
}    

body{
    background-color:azure;
    /* background-image: url(./img/rnbw_wtclr.png);
    background-size:contain;
    background-position: center; */
}
h2{
    color: #141414 !important;
    font-size: 2.5rem;
}
a:link{
    color: #141414 !important;
}
p{
    font-size: .95rem !important;
    /* margin: auto !important;
    padding: auto !important; */
}
.tabs.indicator{
    color: #141414 !important;
    font-size: .75rem !important;
    /* background-color: #141414 !important; */
}
footer{
    background-image: url(/public/img/rnbw_wtclr.png);
    background-size: cover;
    background-position: center;
    color: #141414 !important;
}
.link{
    color: #141414 !important; 
}
.copyright{
    color: #141414 !important;
}